[Desktop Entry]
Version=1.0
Name=Petrolhead 
Comment=Petrolhead P2P Cryptocurrency
Comment[fr]=Petrolhead, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Petrolhead, eşten eşe kriptografik sanal para birimi
Exec=petrolhead-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/petrolhead;
Categories=Office;Finance;
StartupWMClass=petrolhead-qt
